html, body {
    font-family: 'Aldhabi', sans-serif; 
    height: 100%;
    margin: 0;
    padding: 0;
}

body, h1, p, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #fff;
}

.banner {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(Images/ocean.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin:auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: medium;
}

.logo {
    width: 100px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #FFDC21;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.footer {
    background-color: rgba(35, 41, 61, 0.5);
    text-align: center;
    padding: 10px 0px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.f_navbar ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.f_navbar ul li{
    margin: 0 10px;
}

.f_navbar ul li a{
    text-decoration: none;
}

.main_text{
    position: absolute;
    top: 20px;
    left: -120px;
    overflow: -moz-hidden-unscrollable;
}

.main_text h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 10%;
    left: 50%;
    font-size: 300%;
    color: #dcbd22;
    position: relative;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

.main_text p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 50%;
    left: 50%;
    padding: 0px 0px;
    font-size: 110%;
    color: #d3d2d2;
    position: relative;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

button {
    top: 60%;
    left: 5%;
    padding: 15px 30px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
}

button:hover {
    background-color: #0056b3;
}
