<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oceanographic Buoy for Multidomain Research - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about_style.css') }}">
</head>
<body>


    <div class="navbar">
      <img src="{{ url_for('static', filename='Images/feup_logo.png') }}" class="logo" alt="Logo">
        <ul>
            <li><a href="{{ url_for('main') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('access') }}">Access</a></li>
        </ul>
    </div>

    <div class="main_text">
      <h1>Oceanographic Buoy</h1>
      <p>for Multidomain Research</p>
    </div>

    <div class = about>
      <h1>About Us</h1>
      <p>
          Welcome to our Oceanic Buoy Data Project website. This platform is dedicated to providing real-time and 
          historical data collected from an oceanic buoy deployed in the Atlantic Ocean off the shore of Leixões (Porto). Our project is a collaborative 
          effort undertaken by students from the Masters in Electrical and Computer Engineering and the Masters in Physics Engineering programs in the curricular unit of 
          Systems Engineering.<br><br>
          Our buoy is equipped with sensors that continuously monitor various oceanographic parameters such as temperature, water temprature, humidity, wave height.
          The data collected is transmitted in real-time to our servers, allowing us to provide up-to-date information to researchers, students, 
          and the general public.<br><br>
          In addition to live data, our website also offers access to past data, enabling users to analyze trends and patterns over time.
          This feature is particularly useful for academic research and educational purposes.<br><br>
          The development of this project is part of our curricular unit, where we apply theoretical knowledge and 
          practical skills gained during our courses. Our goal is to enhance our understanding of oceanographic data collection and analysis, 
          while also contributing valuable insights to the scientific community.<br><br>
          Thank you for visiting our site. We hope you find the data and information provided here useful and informative.
      </p>
      </div>

    <div class="footer">
      <div class="f_navbar">
        <ul>
            <li><a href="{{ url_for('cookies') }}">Cookies</a></li>
            <li><a href="{{ url_for('privacy') }}">Privacy</a></li>
            <li><a href="{{ url_for('terms') }}">Terms & Conditions</a></li>
        </ul>
      </div>
      <p>&copy; 2024 FEUP - [ES] - Grupo N. All rights reserved.</p>  
    </div>


</body>
</html>